<!DOCTYPE html>
<html lang="en">
<head>
    <title>Envision My Goals</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    
    <!-- Font Awesome CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- HTML5Up Template CSS -->
	<link rel="stylesheet" href="/css/main.css">
</head>
<body class="homepage is-preload">
    <div id="page-wrapper-2">
        <section class="features">
            <div class="container">

                <div class="form-container col-6 col-12-medium">

                    <h1 class="header-font">Edit Goal</h1>
                    <section>
            
                        <form method="POST" action="/goals/<%= goal._id %>">
                            <input type="hidden" name="_method" value="PUT">
                            <div class="row gtr-50">
                                <div class="col-6 col-12-small">
                                    <input name="goalTitle" value="<%= goal.goalTitle %>" type="text" />
                                </div>
                                <div class="col-6 col-12-small">
                                    <input name="goalBriefDes" value="<%= goal.goalBriefDes %>" type="text" />
                                </div>
                                <div class="col-6 col-12">
                                    <select name="status" id="status">
                                        <option value="public" selected>Public</option>
                                        <option value="private">Private</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <textarea name="goalDetailDes"><%= goal.goalDetailDes %></textarea>
                                </div>

                              



                                <div class="col-12">
                                    <button type="submit" class="form-button-submit button">Edit Goal</button>
                                </div>

                                <!-- <div class="col-12">
                                    <a href="#" class="form-button-submit button icon solid fa-envelope">Create Goal</a>
                                </div> -->
                            </div>
                        </form>

                    </section>
                </div> 


                <div class="form-container col-6 col-12-medium">
                    <h1 class="header-font">Edit Image</h1>

                    <form method="POST" action="/goals/image/<%= goal._id %>" enctype="multipart/form-data">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="goal-image col-6 col-12">
                            <label for="image">Upload an image that captures the essence of your goal</label>
                            <input type='file' name='edit-image' id="goal-image"/>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="form-button-submit button">Upload Image</button>
                        </div>
                    </form>

                </div>
            </div>
        </section>
    </div>
    
</body>
</html>









































