<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="homepage is-preload">
		<div class="page-wrapper">

			<!-- Header -->
				<section class="header">
					<div class="container">

						
							
							<%- include('../partials/header'); %>
						
							
							<!-- <img src="<%= image %>"> -->
							
						
						
						
					
						<!-- Logo -->
							<h1 class="logo">Goals Feed</h1>
							<p>Creating futures</p>

						

					</div>
				</section>

			<!-- Features -->
				<section class="features">
					<div class="container">
						<header>
							<h2>Get<strong> inspired </strong>by browing though other people's goals </h2>
						</header>
						<div class="row aln-center">
						

                           
							<!-- Goals -->
							<% if(goals){ %>
								<%for(let i=0; i < goals.length; i++) {%>
									<div class="col-4 col-6-medium col-12-small" class="goal-section">

								
										<section class="">


											
											<header class="goal-title">
												<h3><%= goals[i].goalTitle %></h3>
											</header>

											<a href="/goals/<%= goals[i]._id %>" class="sizing-image image featured"><img src="<%= goals[i].imageURL %>" alt="" /></a>
										

											<div class="below-image-container">
											 
											<div class="avatar">
												<!-- <img src="https://lh3.googleusercontent.com/a-/AFdZucrWYNdnCTsef1dPbphDREBZlIig0g7LRbGf_SAlhw=s96-c" alt=""> -->
												<a href="/goals/user/<%= goals[i].user._id %>"><p><%= goals[i].user.displayName %></p></a>
											</div>
											
											<% if(goals[i].user._id.toString() == user._id.toString()){ %>
							
											<div class="icon-container">
												<div class="col-12">
													<a href="/goals/edit/<%= goals[i]._id %>" class="icon solid fa-pen edit"></a>
												</div>
	
												<br>
	
												<form method="POST" action="/goals/<%= goals[i]._id %>/delete">
													<input type="hidden" name="_method" value="DELETE">

													<div>
														
														<button class="completed-btn delete-btn" type="submit">
															<div class="col-12">
																<a href="#"><i class="icon solid fa-trash delete"></i></a>
															</div>
														</button>
													</div> 
												</form>


											</div>
											
											<% }
										 	else {%>
												<div></div>

											<% } %>
										</div>
										
										
											

											<p class="goal-bdes"><%= goals[i].goalBriefDes %></p>
										</section>
									</div>
								<% } 
								}else {%>
									<p>You have not created any goals yet</p>
								<% } %>

						</div>

						<!-- <br>
						<br>
						<br>
						<br> -->

						





						</div>
					</div>
				</section>

			

								

								



										</section>

								
											
											</ul>
										</section>

								</div>

						</div>
					</div>
				</section>


		</div>

		<%- include('../partials/footer'); %>

		<!-- Scripts -->

		

		
		

			<script src="../../js/jquery.min.js"></script>
			<script src="../../js/jquery.dropotron.min.js"></script>
			<script src="../../js/browser.min.js"></script>
			<script src="../../js/breakpoints.min.js"></script>
			<script src="../../js/util.js"></script>
			<script src="../../../public/js/main.js"></script>

			<script>
				
			
			</script>


			
	</body>
</html>