<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
        <%- include('../partials/head'); %>
	</head>
	<body class="no-sidebar is-preload homepage">
		<div class="page-wrapper">

			<!-- Header -->
				<section class="header">
					<div class="container single-page">

                        <%- include('../partials/header'); %>

						<!-- Logo -->
							<!-- <h1 class="logo"><a href="index.html">Strongly Typed</a></h1>
							<p>A responsive HTML5 site template. Manufactured by HTML5 UP.</p> -->

						
					</div>
				</section>

			<!-- Main -->
				<section id="main">
					<div class="container single-page">
						<div id="content">

							<!-- Post -->
								<article class="box post">
									<header>

										<div class="heading-container">

										<h2 class="header-two-font"><%= goal.goalTitle %></h2>


                                        <div>

                                            <% if(goal.completed === false){ %>
                                                <form method="POST" action="/goals/<%= goal._id %>/completed">
                                                    <input type="hidden" name="_method" value="PUT">

                                                    <div class="completion-container">
                                                        <p class="orange">IN PROGRESS</p>
                                                        <button class="completed-btn" type="submit">
                                                            <a href="#"><i class="fa-regular fa-square checkbox"></i></a>
                                                        </button>
                                                    </div>
                                                </form>
                                                
                                              <% } else{ %> 
                                                <form method="POST" action="/goals/<%= goal._id %>/notcompleted">
                                                    <input type="hidden" name="_method" value="PUT">

                                                    <div class="completion-container">
                                                        <p class="green">COMPLETED!</p>
                                                        <button class="completed-btn" type="submit">
                                                            <a href="#"><i class="fa-regular fa-square-check checkbox"></i></a>
                                                        </button>
                                                    </div> 
                                                </form>
                                                
                                             <% } %>

                                            
                                        </div>
										</div>
                                        




                                        </div>














									</header>
									<span class="image featured"><img src="<%= goal.imageURL %>" alt="" /></span>
									
									<div class="below-image-container">
										<h3><%= goal.goalBriefDes %></h3>
										
										<div class="icon-container">
											<div class="col-12">
												<button class="icon-btn waves-effect waves-light btn"><a href="/goals/edit/<%= goal._id %>" class="icon solid fa-pen edit"></a></button>
											</div>

											<br>

											<form method="POST" action="/goals/<%= goal._id %>/delete">
												<input type="hidden" name="_method" value="DELETE">

												<%- include('../partials/delete_btn'); %>
											</form>


										</div>
									</div>
									


									<p><%= goal.goalDetailDes %></p>



									
								</article>


								<a href="/goalsessions/workshop/<%= goal._id %>"><button>Workshop My Goal</button></a>
								<!-- <a><button>Freewrite</button></a> -->



								<!-- Sessions -->

								<br>
								<br>
								<br>
								<br>

								<h2 class="header-two-font">Past Sessions</h2>

								<% if (!sessions) {%>
									<h3>You do not have any workshop sessions yet</h3>
								<% } %>

								<%for(let i=0; i < sessions.length; i++) {%>
									<!-- <div class="sessions-container">
										<h3><%= sessions[i].why %></h3>
									</div> -->

									<div >
										
										<div class="home-container">
										  <div class="home-card"></a>
											
											<div>
												<a href="/goalsessions/sessions/<%= goal._id %>/<%= sessions[i]._id %>"><h1 class="home-text headingOne">Session from <%= sessions[i].createAt %></h1></a>
											</div>
											
											
											
											<span class="below-image-container home-text1 lead">

												<% if (sessions[i].whylength < 120) {%>
													<span><%= sessions[i].why %></span>
												<% } else{ %>
													<span><%=sessions[i].why.substring(0,120)%>...</span>
												<%} %>


											</span>
										  </div>
										</div>

									</div>
									
								<% } %> 

							


							

						</div>
					</div>
				</section>

			

			
		</div>
        <%- include('../partials/footer'); %>

		<!-- Scripts -->
        <script src="../../js/jquery.min.js"></script>
        <script src="../../js/jquery.dropotron.min.js"></script>
        <script src="../../js/browser.min.js"></script>
        <script src="../../js/breakpoints.min.js"></script>
        <script src="../../js/util.js"></script>
        <script src="../../../public/js/main.js"></script>

	</body>
</html>

