<!DOCTYPE html>
<html lang="en">
<head>
    <title>Envision My Goals</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    
    <!-- Font Awesome CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- HTML5Up Template CSS -->
	<link rel="stylesheet" href="/css/main.css">

   
</head>
<body class="homepage is-preload">
    <div class="page-wrapper">
        <section class="features">
            <div class="container ">

                <%- include('../partials/header'); %>

                <div class="form-container col-6 col-12-medium">
                    <h1 class="header-font"><%= goal.goalTitle %></h1> 
                    <br>
                    <h2 class="header-two-font">Workshop Session from </h2>

                    <span class="image featured"><img src="<%= goal.imageURL %>" alt="" /></span>
                    <section>
            
                    <br>
                    <br>
                                    
        
                                    <section>
                                    
                                        <% if (session.why) {%>
                                            <div class="col-6 col-12">
                                                <h3 class="session">Why do I want to achieve this goal? What about it is important to me?</h3>
                                                <p class="session"><%= session.why %></p>
                                            </div>
                                        <% } %>
                                            
                                        <% if (session.life) {%>
                                            <div class="col-6 col-12">
                                                <h3 class="session">What will my life look like when I achieve this goal? What will I feel? Paint a vivid picture.</h3>
                                                <p class="session"><%= session.life %></p>
                                            </div>
                                        <% } %>

                                        <% if (session.block) {%>
                                            <div class="col-6 col-12">
                                                <h3 class="session">What are the biggest blocks/obstacles in pursuing/acheiving this goal?</h3>
                                                <p class="session"><%= session.block %></p>
                                            </div>
                                        <% } %>

                                        <% if (session.fear) {%>
                                            <div class="col-6 col-12">
                                                <h3 class="session">What are my biggest fears in achieving this goal?</h3>
                                                <p class="session"><%= session.fear %></p>
                                            </div>
                                        <% } %>

                                        <% if (session.limiting) {%>
                                            <div class="col-6 col-12">
                                                <h3 class="session">What are the limiting thoughts, beliefs, patterns, paradigms that I currently hold that are preventing me from pursuing and/or achieving this goal?</h3>
                                                <p class="session"><%= session.limiting %></p>
                                            </div>
                                        <% } %>

                                        <% if (session.steps) {%>
                                            <div class="col-6 col-12">
                                                <h3 class="session">What are the steps I need to take to achieve this goal?</h3>
                                                <p class="session"><%= session.steps %></p>
                                            </div>
                                        <% } %>

                                        <% if (session.people) {%>
                                            <div class="col-6 col-12">
                                                <h3 class="session">Who are the people I can reach out to for support and/or accountability in reaching this goal?</h3>
                                                <p class="session"><%= session.people %></p>
                                            </div>
                                        <% } %>

                                        <% if (session.ownquestion) {%>
                                            <div class="col-6 col-12">
                                                <h3 class="session"><%= session.ownquestion %></h3>
                                                <p class="session"><%= session.ownquestionresponse %></p>
                                            </div>
                                        <% } %>

                                        <% if (session.freewrite) {%>
                                            <div class="col-6 col-12">
                                                <h3 class="session">Freewrite</h3>
                                                <p class="session"><%= session.freewrite %></p>
                                            </div>
                                        <% } %>



                                        </div>
                                    </form>
                                    </section>
                                </div>
                          
                                


                               

                                <!-- <div class="col-12">
                                    <a href="#" class="form-button-submit button icon solid fa-envelope">Create Goal</a>
                                </div> -->
                            </div>
                        </form>

                    </section>
                </div> 
            </div>
        </section>
    </div>
    
</body>
</html>









































